
#about {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), $img-profile-back;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))), $img-profile-back;
	background:    -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), $img-profile-back;
	background:     -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), $img-profile-back;
	background:      -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), $img-profile-back;
	background:         linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), $img-profile-back;

	-webkit-background-size: cover;
	background-size: cover;

	color: $color-inverse-text;

	.thumbnail {
		-webkit-border-radius: $border-radius-circle;
		-moz-border-radius: $border-radius-circle;
		border-radius: $border-radius-circle;
		margin-bottom: 0;
		display: inline-block;
		width: $width-avatar / 2;
		height: $width-avatar / 2;
	}

	h2 {
		color: $gray-light;
		padding-bottom: 0;
	}

	h3 {
		margin-top: 0;
	}
}

.profile-info {
	padding-top: $padding-general;
}

.social-links {
	padding-top: $padding-general * 2;
	padding-bottom: $padding-general * 2;
	margin-bottom: 0;
}

// --------------------MEDIA QUERIES-------------------

@media screen and (min-width: 768px) {
	#about {
		.thumbnail {
			width: $width-avatar;
			height: $width-avatar;
		}
	}

}


