
footer.footer {
	padding-top: $padding-general;
	padding-bottom: $padding-general * 2;
	color: $color-inverse-text;
	background-color: $color-primary;
	margin-top: $padding-general;
}

.back-top {
	position: fixed;
	bottom: $padding-general;
	right: $padding-general;

	&:hover {
		color: $color-primary;
		background-color: $color-inverse-text !important;
	}
}