

.form-control,
textarea,
input[type=email],
input[type=password],
input[type=text] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.form-control:focus,
textarea:focus,
input:focus,
input[type]:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 0;
	border-color: $gray;
}

.has-success .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus,
.has-error .form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.form-control {
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
	height: auto;
}