

.form-control,
textarea,
input[type=email],
input[type=password],
input[type=text] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-width: 2px;
	background-color: darken($color-inverse-text, 5%);
}

.form-control:focus,
textarea:focus,
input:focus,
input[type]:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 0;
	border-color: $gray;
}

.has-success .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus,
.has-error .form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.has-success {

	.form-control-feedback,
	.form-control:focus,
	.form-control {
		border-color: $brand-success;
	}

	.form-control-feedback {
		color: $brand-success;
	}

}

.has-error {

	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	.form-control-feedback {
		color: $brand-danger;
	}

	.form-control-feedback,
	.form-control:focus,
	.form-control {
		border-color: $brand-danger;
	}

}


.form-control {
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
	height: auto;
}

.form-control-feedback {
	top: 0;
	height: $height-full;
	line-height: 1;
	padding-top: $padding-general;
	padding-bottom: $padding-general;
}

