
#funfacts {
	background-color: $color-primary;

	li {
		margin-left: $padding-general;
		margin-right: $padding-general;
		width: $width-funfacts;
	}

	h2 {
		color: $gray-darker;
	}
}

.counters {
	font-size: $font-size-h1 * 2;
	font-family: $font-condensed;
	color: $color-inverse-text;
}