
.jumbotron {
	padding-top: 0;

	button {
		margin-top: $padding-general * 2;
		border-width: 2px;
	}
}


@media screen and (max-width: 768px) {
	.jumbotron {
		margin-top: 0;
	}
}

@media screen and (min-width: 768px) {
	.jumbotron {
		padding-top: $padding-general * 2;
	}
}