

header {
	> section {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.navbar-default {
	margin-bottom: 0;
	border-color: transparent;
	background-color: transparent;
	background-color: $color-back-navbar-header;

	.navbar-nav > li > a {
		cursor: pointer;
		text-transform: uppercase;
		font-family: $font-condensed;
		font-size: $font-size-large;
		border-top: 3px solid transparent;
		padding-top: $padding-general / 2;
		margin-top: $padding-general / 2;
	}

	.navbar-toggle {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		background-color: $color-primary;
		border-width: 0;

		.icon-bar {
			background-color: $color-inverse-text;
		}

		&:focus,
		&:hover {
			background-color: $color-primary;

			.icon-bar {
				background-color: $color-inverse-text;
			}
		}
	}

}

.spheres {

	> li {
		padding-left: $padding-general;
		padding-right: $padding-general;
	}

	a {
		display: block;
		width: $width-social-links;
		height: $height-social-links;
		line-height: $height-social-links - 5;
		text-align: center;
		font-size: $font-size-h2;
		-webkit-border-radius: $border-radius-circle;
		-moz-border-radius: $border-radius-circle;
		border-radius: $border-radius-circle;
		background-color: $color-primary;
		color: $color-inverse-text;
		border: 2px solid transparent;

		&:hover {
			@include hoverSocial();
		}

	}

}

.navbar-collapse {
	background-color: $gray-lighter;
	@include box-shadow( 0 2px 3px 0px rgba(0, 0, 0, 0.2) );

	.navbar-nav {
		margin-top: 0;
	}

}

.navbar-brand {
	height: $height-navbar-brand - 10;
	padding-top: $padding-general / 4;
	padding-bottom: $padding-general / 4;
	padding-right: 0;
	padding-left: 0;
	height: $height-navbar-brand;
	margin-left: 0;
	display: inline-block;
	margin-right: $padding-general - 5;
	margin-left: $padding-general - 5;
	width: $width-navbar-brand - 10;

	img {
		height: $height-navbar-brand - 10;
	}
}



// --------------------MOBILE MENU-------------------

.mobile-menu {
    background: $color-primary;
    position: fixed;
    width: $width-mobile-menu;
    height: $height-full;
    top: 0;
    z-index: 1000;
    left: -$width-mobile-menu;
    @include transition(all 0.3s ease);

    .navbar-nav > li > a {
	    color: $color-inverse-text;

	    &:hover {
			    background: $color-back-navbar-header;
			}
		}

		.navbar-nav > .active > a {
			color: $color-primary;
		}

		.navbar-nav {
			margin-left: 0;
			width: $width-full;
		}

		&.mobile-menu-open {
		    left: 0;
		}

}

.mobile-menu-push-toright {
    left: $width-mobile-menu;
}



// --------------------MEDIA QUERIES-------------------

@media screen and (min-width: 768px) {

	.navbar-header {
		width: $width-navbar-header;
	}

	.navbar-default {

		.navbar-nav > li > a:hover,
		.navbar-nav > .active > a,
		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus {
			border-top: 3px solid $color-primary;
			background-color: transparent;
		}

	}

	.navbar-collapse {
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

	}

	.navbar-brand {
		width: $width-navbar-brand;
	}

}




