
// ---------------COLORS---------------

$color-text: #333;
$color-titles: #666;
$color-primary: #cd4c4c;
$color-inverse-back: #000;
$color-back-jumbotron: #fff;
$color-inverse-text: #fff;


// ---------------WIDTH---------------
$width-full: 100%;

// ---------------HEIGHT---------------
$height-top-nav: 50px;


// ---------------FONTS---------------
$font-serif-general: 'Georgia', sans-serif;
$font-sans-serif-general: 'Open Sans', sans-serif;
$font-condensed: 'Open Sans Condensed', sans-serif;


$font-size-h2: 40px;



// ---------------BORDER RADIUS---------------
$border-radius-circle: 50%;



// ---------------PADDING---------------
$padding-general: 20px;


// ---------------MARGIN---------------
// $margin-bottom-work-li: 10px;


// ---------------IMAGES---------------
$img-profile-back: url(../images/profile-back.jpg);




