
// $brand-primary:         #428bca !default;
// $brand-success:         #5cb85c !default;
// $brand-info:            #5bc0de !default;
// $brand-warning:         #f0ad4e !default;
// $brand-danger:          #d9534f !default;



// ---------------COLORS---------------

$color-primary: #cd4c4c;
$color-inverse-back: #000;
$color-back-jumbotron: #fff;
$color-inverse-text: #fff;


// ---------------WIDTH---------------
$width-full: 100%;
$width-social-links: 80px;

// ---------------HEIGHT---------------
$height-full: 100%;
$height-top-nav: 50px;
$height-social-links: 80px;

// ---------------FONTS---------------
$font-serif-general: 'Georgia', sans-serif;
$font-sans-serif-general: 'Open Sans', sans-serif;
$font-condensed: 'Open Sans Condensed', sans-serif;


$font-size-h2: 40px;



// ---------------BORDER RADIUS---------------
$border-radius-circle: 50%;



// ---------------PADDING---------------
$padding-general: 20px;


// ---------------MARGIN---------------
$margin-left-work-nav-pills: 10px;


// ---------------IMAGES---------------
$img-profile-back: url(../images/profile-back.jpg);


// ---------------CUSTOM MIXINS---------------
@mixin hoverSocial {
	background-color: transparent;
	border: 2px solid $color-primary;
}



