
#work {

	.filters {
		margin-bottom: $padding-general * 2;
	}

	.nav-pills > li {
		float: none;

		&:first-of-type a {
			border-top-width: 1px;
		}

		a {
			text-transform: uppercase;
			background-color: $color-inverse-text;
			color: darken($gray-lighter, 20%);
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			border: 1px solid darken($gray-lighter, 10%);
			cursor: pointer;
			border-top-width: 0;
			@include transition(background-color 0.3s ease-in-out);

			&:hover {
				background-color: darken($color-inverse-text, 10%);
			}
		}

		&.active a {
			background-color: $color-primary;
			color: $color-inverse-text;
			border-color: $color-primary;

			&:hover {
				background-color: darken($color-primary, 10%);
			}
		}
	}

}

.teasers {

	li {
		display: inline-flex;
	}

	a {
		display: inline-block;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}

	li > a:after {
		content: '\f065';
		font-family: 'fontAwesome';
		display: block;
		position: absolute;
		width: $width-full;
		height: $height-full;
		top: -($height-teasers);
		left: 0;
		background-color: rgba($color-primary, 0.5);
		color: $color-inverse-text;
		line-height: $height-teasers;
		text-align: center;
		font-size: floor(($font-size-h2 * 2));
		@include transition(top 0.3s ease-in-out);
	}

	li > a:hover:after {
		top: 0;
	}

}

// --------------------MEDIA QUERIES-------------------

@media screen and (min-width: 768px) {
	#work {
		.nav-pills > li {
			display: inline-block;
			margin-left: $margin-left-work-nav-pills;
		}

		.nav-pills > li {
			float: none;

			a {
				border-top-width: 1px;
			}

		}

	}

}




