
#work {

	.filters {
		margin-bottom: $padding-general * 2;
	}

	.nav-pills > li {
		float: none;
		display: inline-block;
		margin-left: $margin-left-work-nav-pills;

		a {
			text-transform: uppercase;
			background-color: $color-inverse-text;
			color: darken($gray-lighter, 20%);
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			border: 1px solid darken($gray-lighter, 10%);
		}

		&.active a {
			background-color: $color-primary;
			color: $color-inverse-text;
			border-color: $color-primary;
		}
	}

	a {
		display: inline-block;
		cursor: pointer;
		position: relative;

		// &:hover {
		// 	opacity: 0.5;
		// }
	}
}

.teasers {

	li > a:after {
		content: 'x';
		display: block;
		position: absolute;
		width: $width-full;
		height: 0;
		top: 0;
		left: 0;
		background-color: $color-primary;
		color: $color-inverse-text;
	}

	li > a:hover:after {
		height: $height-full;
	}

}

