
<section ng-controller="ProfileCtrl" id="about">
	<article class="container">
		<figure class="row text-center">
			<img class="img-circle thumbnail" src="{{profileData.avatar_url}}">
		</figure>
		<section class="row profile-info text-center">
			<header class="col-xs-12">
				<h2>{{profileData.name}}</h2>
			</header>
			<h3 class="col-xs-12">
				<span class="glyphicon glyphicon-map-marker"></span> {{profileData.location}}
			</h3>
			<nav class="col-xs-12">
				<ul class="list-unstyled list-inline social-links spheres">
					<li>
						<a target="_blank" href="https://www.facebook.com/georgettekeough"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a target="_blank" href="https://dribbble.com/mumabah"><i class="fa fa-dribbble"></i></a>
					</li>
					<li>
						<a target="_blank" href="http://www.linkedin.com/in/georgettekeough"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>
			</nav>
			<article class="col-xs-12 col-sm-10 col-sm-offset-1">
				<h4 class="text-center">I am a designer, a dreamer, a coder, a wanna be genius, an adventurer and a procrastination hater.</h4>
			</article>
<!-- 			<p class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
				<a scroll-on-click href="#work" class="continue-btn">
					<i class="fa fa-angle-down"></i>
					<i class="fa fa-angle-down"></i>
					<i class="fa fa-angle-down"></i>
				</a>
			</p> -->
		</section>

	</article>
</section>

