<section id="work" ng-controller="WorkCtrl">

  <ul class="nav nav-pills text-center filters">
    <li ng-repeat="tag in tags" ng-class="{ 'active': tag.set, 'static': !tag.set }">
      <a ng-click="tag.set = (tag.set ? false : true)">{{tag.name}}</a>
    </li>
  </ul>

    <article>
      <ul class="list-unstyled list-inline text-center teasers">
        <li ng-repeat="shot in shotsData | tagFilter:tags" ng-controller="ModalCtrl">
          <a ng-click="open(shot)" class="clearfix">
            <img src="{{shot.images.teaser}}">
          </a>
        </li>
      </ul>
    </article>

  <!-- <nav>
    <ul class="pagination">
      <li>
        <a ng-click="getShots(page)" ng-repeat="page in pageCount">
          {{ page }}
        </a>
      </li>
    </ul>
  </nav> -->

</section>