<section id="work" class="container">

<ul class="list-unstyled list-inline text-center filters">
  <li ng-repeat="tag in tags">
    <button ng-click="tag.set = (tag.set ? false : true)" ng-class="{ 'btn-default': tag.set, 'btn-muma': !tag.set }" class="btn">{{tag.name}}</button>
  </li>
</ul>

  <article class="row">
    <ul class="list-unstyled list-inline col-xs-12 text-center teasers">
      <li ng-repeat="shot in shotsData | tagFilter:tags" ng-controller="ModalCtrl">
        <a ng-click="open(shot)" class="clearfix">
          <img src="{{shot.images.teaser}}">
        </a>
      </li>
    </ul>
  </article>

<nav>
  <ul class="pagination">
    <li>
      <a ng-click="getShots(page)" ng-repeat="page in pageCount">
        {{ page }}
      </a>
    </li>
  </ul>
</nav>

</section>